html, body {
    background-image: url("https://www.kml-wellness.com/img/stones-color.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
}